<div class="card">
  <div class="card-header">Book details</div>
  <div class="card-body">
    <form [formGroup]="bookForm" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter book title" name="title" formControlName="title">
      </mat-form-field>
      @if (isValid('title')) {
        <div class="alert alert-danger">Please, enter valid book title</div>
      }
      <div>
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput placeholder="Enter book author" name="author" formControlName="author">
        </mat-form-field>
      </div>
      @if (isValid('author')) {
        <div class="alert alert-danger">Please, enter valid book author</div>
      }
      <button type="submit" mat-button mat-flat-button [disabled]="!bookForm.valid">Save</button>
    </form>
  </div>
</div>
