<div>
  <cdk-virtual-scroll-viewport appendOnly itemSize="10" minBufferPx="300" maxBufferPx="600" style="height: 400px">
    <div *cdkVirtualFor="let book of books()">
      <app-book-details [book]="book"></app-book-details>
    </div>
  </cdk-virtual-scroll-viewport>
  <app-book-registration (bookSaved)="saveBook($event)"></app-book-registration>
  <div>
    Please, enter your option:
    <input type="text">
    <button type="button">
      Submit
    </button>
  </div>
  <div>You chosen ...</div>
</div>
