<div>
  <p (click)="onClick(book.title)">Book title: {{ book.title }}</p>
  <p (click)="onClick(book.author)">Book author: {{ book.author }}</p>
  <p (click)="onClick(book.pages)">Book Pages: {{ book.pages }}</p>
  <p appHighlight [highlightColor]="'yellow'" [highlightText]="searchText()" [originalHTML]="book.description">
    Book description: {{ book.description }}</p>
  <p>Book year: {{ book.year }}</p>
</div>
<div>Symbol count: {{ symbolCount() }}</div>
Search text: <input [(ngModel)]="searchText">
